html {
  height: 100%;
  width: 100%;
}
#result{
  font-size: 30px;
}
body{
  background-color: rgb(34, 31, 56);
}
#searchbar{
  margin: auto;
  padding: 15px;
  width:50%;
}
#code{
  height:20px;
  width:100px
}
#codelabel{
  font-size:30px;
}