html {
  height: 100%;
  width: 100%;
}
#result{
  font-size: 30px;
}
body{
  background-color: rgb(34, 31, 56);
}
form{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
div{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
#code{
  height:20px;
  width:100px
}
#codelabel{
  font-size:30px;
}
img{
  height:700px;
  width:auto;
}
h1{
  color:rgb(153, 0, 0);
  font-size:100px;
}